%div{:class => "centre"}
  %div{:class => "gap1"}
  %div
    %h1{:style => 'display: inline'} Your Collections
    = link_to 'New Collection', new_collection_path, :class => "btn btn-info special_text", :style => 'float: right; width: 225px; margin-top: 6px;'
  %div{:class => "gap1"}

  %div{:class => 'card_grid'}
    - @collections.each do |collection|
      %div{:class => 'collection_card'}
        %h4=collection.name

        %div{:class => 'comment_height'}
          -if collection.description !=nil
            -if collection&.description.length > 95
              - string = '...'
            -else
              -string = ''
            %div=collection&.description[0..95] + string
        = link_to 'View Items', collection, :class => "btn btn-info special_text"
        = link_to 'Edit', edit_collection_path(collection), :class => "btn btn-info special_text"
        %span
          = button_to('Delete', collection,{:onclick => "return confirm('Are you sure?')", :method => :delete,  :class => "btn btn-warning special_text", :form_class=>'inline_style'})
