%div{:class => "centre"}
  %h1{:class => "main_title"} Listing Users
  %br


  %div{:class => "user_grid"}
    - alternating = true
    - @users.each do |user|
      %div{:class => alternating ? 'alternating email' : 'email'}= user.email
      %div{:class => alternating ? 'alternating' : '', :style => "grid-column-start: 2;"}
      %div{:class => alternating ? 'alternating admin_yn' : 'admin_yn'}= user.admin? ? 'Admin' : 'Not Admin'
      %div{:class => alternating ? 'alternating admin_button' : 'admin_button'}= link_to('Change Admin Status', edit_user_path(user))
      %div{:class => alternating ? 'alternating delete' : 'delete'}= link_to 'Delete User', user, :method => :delete, :data => { :confirm => 'Are you sure?' }
      - alternating ? alternating = false : alternating = true