%div{:class => "centre"}
  %h1{:class => "main_title"} Listing Users
  %br


  %div{:class => "user_grid"}
    - @users.each do |user|
      %div{:class =>"email"}= user.email
      %div{:class =>"admin_yn"}= user.admin? ? 'Admin' : 'Not Admin'
      //users#edit
      %div{:class =>"admin_button"}= link_to('Change Admin Status', edit_user_path(user))
      //TODO: what happens if you delete yourself?
      //TODO: when you undesignate yourself admin?
      //users#destroy
      %div{:class =>"delete"}= link_to 'Delete User', user, :method => :delete, :data => { :confirm => 'Are you sure?' }
