%h1 Listing users

%table{ border: 1 }
  %thead
    %tr
      %th Email
      %th Actions

  %tbody
    - @users.each do |user|
      %tr
        %td= user.email
        %td
          = link_to 'Delete User', user, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New User', new_user_path
