<%= content_tag :div,
                id: "search-form",
                class: "main_grid_centre",
                data: {
                    languages: locals[:languages].to_json,
                    countries: locals[:countries].to_json,
                    report_types: locals[:report_types].to_json,
                    query: locals[:query],
                    query_id: locals[:query_id]
                } do %>
  <!--main form-->
  <div v-for="(option, index) in query.options">
    <query-line
      :index="index.toString()"
      :languages="languages"
      :countries="countries"
      :report_types="report_types"
    ></query-line>
  </div>

  <!--add filter line-->
  <div class="query_line">
    <div>
      <div class="send_to_bottom_hack_label"></div>
      <span class="add_filter_label" v-if="this.query.options.length < 8" v-on:click="addQueryLine"><b>+</b> Add Filter</span>
    </div>
  </div>


  <button class="btn btn-info btn-search2 special_text"  v-on:click="submitToSearch" >Run Query</button>
  <br>
  <form format="js" action="/replace_query" accept-charset="UTF-8" data-remote="true" method="post">
    <input name="utf8" type="hidden" value="✓">
    <input type="hidden" name="query" id="query" v-bind:value="this.$store.getters.getQueryString">
    <%== '<input type="hidden" name="collection" id="collection" value=' + locals[:collection].name + '>' %>

    <input type="submit" name="commit" value="Save Query" class="btn btn-info btn-save_query special_text">
  </form>

<% end %>

<script>
    import QueryLine from "../../javascript/components/QueryLine";
    export default {
        components: {QueryLine}
    }
</script>
