%div{:class => "box form"}
  %h1{:class => "main_title"} Advanced Search
  %br
  = form_tag advanced_path, method: :get, target: '_blank' do
    -#= hidden_field_tag numeric_filters = ['all','only','less than','greater than','between'], class: 'numeric_filters', disabled: true
    -#= hidden_field_tag queries = %w['Country','Language','Text'], class: 'queries', disabled: true
    -#= hidden_field_tag logical_filters = ['Only','none of','one of'], class: 'logical_filters', disabled: true

    %div{:class => "sub_grid"}
      %div{:class =>"box added_query", :id=>"added_query_0", :style=>"padding-top: 7px;"}
        %input{:type=>"hidden", :name=>"query_type[0][]", :value=>"section number"} Section Number
      %div{:class=>"box select", :id=>"added_select_0"}
        %select{:class=>"added_filter_select form-control", :name=>"filter_type[0][]", :id=>"added_filter_select_0"}
          %option{:value=>'all', :selected=>"selected"}='all'
          %option{:value=>'only'}='only'
          %option{:value=>'none of'}='none of'
          %option{:value=>'one of'}='one of'
      %div{:class=>"box added_field", :id=>"added_field_0"}
        %input{:type=>"hidden", :name=>"keyword[0][]", :value=>""}
      %div{:class=>"box added_filter_icons", :id=>"added_filter_icons_0"}
        %i{:class=>"fas fa-times red filter_icon delete_filter", :id=>"delete_filter_0"}
      %i{:class=>"question_icon fas fa-question-circle black", :id=>"question_icon_0"}

      %div{:class =>"box added_query", :id => "added_query_1", :style=>"padding-top: 7px;"}
        %input{:type=>"hidden", :name=>"query_type[1][]", :value=>"language"} Language
      %div{:class=>"box select", :id=>"added_select_1"}
        %select{:class=>"added_filter_select form-control", :name=>"filter_type[1][]", :id=>"added_filter_select_1"}
          %option{:value=>'all', :selected=>"selected"}='all'
          %option{:value=>'only'}='only'
          %option{:value=>'none of'}='mentions none of'
          %option{:value=>'one of'}='mentions one of'
      %div{:class=>"box added_field", :id=>"added_field_1"}
        %input{:type=>"hidden", :name=>"keyword[1][]", :value=>""}
      %div{:class=>"box added_filter_icons", :id=>"added_filter_icons_1"}
        %i{:class=>"fas fa-times red filter_icon delete_filter", :id=>"delete_filter_1"}
      %i{:class=>"question_icon fas fa-question-circle black", :id=>"question_icon_1"}

      %div{:class =>"box added_query", :id => "added_query_2", :style=>"padding-top: 7px;"}
        %input{:type=>"hidden", :name=>"query_type[2][]", :value=>"country"} Country
      %div{:class=>"box select", :id=>"added_select_2"}
        %select{:class=>"added_filter_select form-control", :name=>"filter_type[2][]", :id=>"added_filter_select_2"}
          %option{:value=>'all', :selected=>"selected"}='all'
          %option{:value=>'only'}='only'
          %option{:value=>'none of'}='mentions none of'
          %option{:value=>'one of'}='mentions one of'
      %div{:class=>"box added_field", :id=>"added_field_2"}
        %input{:type=>"hidden", :name=>"keyword[2][]", :value=>""}
      %div{:class=>"box added_filter_icons", :id=>"added_filter_icons_2"}
        %i{:class=>"fas fa-times red filter_icon delete_filter", :id=>"delete_filter_2"}
      %i{:class=>"question_icon fas fa-question-circle black", :id=>"question_icon_2"}

    %div{:class => "sub_grid2"}
      %div{:class => "add"}
        = link_to 'Add more filters', '#', id: 'add_search', :class => "btn btn-default"
      %div{:class => "search"}
        = submit_tag 'Search documents', :class => "search_button btn btn-success"
