// Place all the styles related to the Collections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.centre {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  text-align: left;
}

.results_grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.result{
  grid-column-start: 1;
}