// Place all the styles related to the Collections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.results_grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.result{
  grid-column-start: 1;
}

.title {
  font-size: medium;
}

.query_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.left {
  grid-column-start: 1;

}
.right {
  grid-column-start: 2;
}