// Place all the styles related to the documents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//_form
.documents_form {
  padding-bottom: 0px;
  display: block;
  width: auto;
}
//index
.documents_grid {
  display: grid;
  grid-template-columns: 2.3fr 3fr 1.3fr 1.3fr 3fr 3fr 3fr
}
.documents_users_grid {
  display: grid;
  grid-template-columns:1fr 2fr 1fr 1fr 2fr;
}
//only define first two grid-column-start because it breaks otherwise
.country{
  grid-column-start: 1;
}
.type{
  grid-column-start: 2;
}
.alternating{
  background: #fff6b3;
}
form.select_child_delete_document_button input {
  background-color: transparent;
  color: #007bff;
  padding: 0;
  border: 0px;
}
form.select_child_delete_document_button input:hover {
  color: #0056b3;
  text-decoration: underline;
}

//show
.document_header_grid {
  display: grid;
  grid-template-columns: 20px 100px 3fr 1fr;
}
.user_grid {
  //border: 2px blue solid;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.table_of_contents_grid {
  display: grid;
  grid-template-columns: 20px 20px 20px 20px 50px 1fr;
}
.result{
  grid-column-start: 1;
}
.gap1 {
  height: 10px;
}
.gap2 {
  height: 20px;
}
.section_info {
  padding-right: 10px;
}
.label {
  grid-column-start: 2;
}
.info{
  grid-column-start: 3;
  padding-top: 0.3rem;
}
.action {
  grid-area: 1 / 4 / span 5 / auto;
  width: 219px;
}
.level1 {
  grid-column-start: 2;
}
.level2 {
  grid-column-start: 3;
}
.level3 {
  grid-column-start: 4;
}
.name {
  grid-column-start: 6;
}
.collapsed > .when-opened,
:not(.collapsed) > .when-closed {
  display: none;
}
.special_text {
  color: #000000d4 !important;
}

//edit_section_separation
.edit_section form {
  display: grid;
  grid-template-columns:1fr 3fr 1fr;
}
.fixed_height_scroll {
  height:250px;
  overflow:auto;
  margin-bottom: 20px;
}
.edit_section_box {
  height: 175px;
  width: 100%;
  margin-bottom: 15px;

}



//_section_display
.results_grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.results_actions {
  grid-area: 1 / 2 / span 3 / auto;
}
.language_span {
  grid-column-start: 1;
  grid-column-end: 2;
  margin-top: 3px;
}
.right_box {
  justify-self: right;
  position: relative;
  float: right;
  display: block;
}
.save_form {
  padding-left: 10px;
}
.language_box {
  display: inline-block;
  padding: 5px;
  border-radius: 7px;
  margin-left: 0px;
  margin-right: 7px;
  margin-bottom: 3px;
  margin-top: 3px;
  background-color: #A9F5BC;
}
.strength_0 {
  background-color: #449d44;
}
.strength_1 {
  background-color: #337ab7;
}
.strength_2 {
  background-color: #5bc0de;
}
.strength_3 {
  background-color: #d3eeff;
}
