// Place all the styles related to the documents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.centre {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  text-align: left;
}

.documents_form {
  padding-bottom: 0px;
  display: block;
  width: auto;
}
.documents_grid {
  display: grid;
  grid-template-columns: 2fr 3fr 1.1fr 1fr 3fr 2.1fr 4fr;
}
.documents_users_grid {
  display: grid;
  grid-template-columns:1fr 2fr 1fr 1fr 2fr;
}
.document_grid {
  display: grid;
  grid-template-columns:1fr 3fr 1fr;
}
.user_grid {
  //border: 2px blue solid;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.results_grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.result{
  grid-column-start: 1;
}
//having just these two seems to force it to do what i want - giving grid start of other columns messes it up
.country{
  grid-column-start: 1;
}
.type{
  grid-column-start: 2;
}
.alternating{
  background: #fff6b3;
}
.info{
  align-self: center;
}

.edit_section form {
  display: grid;
  grid-template-columns:1fr 3fr 1fr;
}