// Place all the styles related to the documents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.documents_form {
  padding-bottom: 0px;
  display: block;
  width: auto;
}
.documents_grid {
  display: grid;
  grid-template-columns: 2fr 3fr 1.1fr 1fr 3fr 2.1fr 4fr;
}
.documents_users_grid {
  display: grid;
  grid-template-columns:1fr 2fr 1fr 1fr 2fr;
}
//show
.document_grid {
  display: grid;
  grid-template-columns:100px 3fr 1fr;
}
.user_grid {
  //border: 2px blue solid;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.results_grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.result{
  grid-column-start: 1;
}
//having just these two seems to force it to do what i want - giving grid start of other columns messes it up
.country{
  grid-column-start: 1;
}
.type{
  grid-column-start: 2;
}
.alternating{
  background: #fff6b3;
}

//show
.section_info {
  padding-right: 10px;
}
.info{
  align-self: center;
}

//edit_section_separation
.edit_section form {
  display: grid;
  grid-template-columns:1fr 3fr 1fr;
}
.fixed_height_scroll {
  height:250px;
  overflow:auto;
  margin-bottom: 20px;
}
.edit_section_box {
  height: 175px;
  width: 100%;
  margin-bottom: 15px;

}
//show and search_results
.right_button {
  position: relative;
  float: right;
  margin-bottom: 5px;
  display: block;
  justify-self: right;
}
.right_box {
  justify-self: right;
  position: relative;
  float: right;
  display: block;
}
.section_information {
  height: 110px;
  margin-top: 30px;
}
.save_form {
  padding-left: 10px;
}
.section_content {
  padding-right: 35px;
  margin-top: 30px;
}
.button_spacing {
  margin-bottom: 15px;
}
.language_span {
  grid-column-start: 1;
  grid-column-end: 3;
}
.language_box {
  display: inline-block;
  padding: 5px;
  border-radius: 7px;
  margin: 5px;
}
.strength_0 {
  background-color: #449d44;
}
.strength_1 {
  background-color: #337ab7;
}
.strength_2 {
  background-color: #5bc0de;
}
.strength_3 {
  background-color: #d3eeff;
}

//SEARCH
#keyword_ {
  float: right;
}