// Place all the styles related to the user_tickets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.user_tickets_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.ticket {
  padding-left: 20px;
  height: 235px;
}
.ticket2 {
  padding-left: 20px;
  height: 266px;
}
.comment_height {
  height: 85px;
}

.left {
  grid-column-start: 1;

}
.right {
  grid-column-start: 2;
}

.new {
  background-color: #fee5d9;
}

.medium {
  background-color: #fcae91;
}
.old {
  background-color: #fb6a4a;
}