// Place all the styles related to the user_tickets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.centre {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  text-align: left;
}

.user_tickets_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.ticket {
  padding-left: 20px;
}

.left {
  grid-column-start: 1;

}
.right {
  grid-column-start: 2;
}